target
# Ignore Cargo build directory
/target/

# Ignore Cargo.lock
Cargo.lock

# Ignore local configuration
*.toml

# Ignore profiling files
*.prof

# Ignore clippy files
.clippy.toml

# Ignore IDE files
*.iml
*.ipynb
*.sublime-project
*.sublime-workspaceuse

# Ignore OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Ignore temporary files
*.swp
*.swo
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz

# Ignore vim files
*.swp
*.swo
*.vim

*~*
.vscode
build
*.vscode*
*.mp4
